html {
    font-family: 'Roboto', sans-serif; 
    /* sans-serif is the fallback font 
    used if original does not work
    you can go to google to see fonts
    and link to html doc to import them
    */
    font-size:16px;
}

#thick-font {
    font-weight: 40; 
    /* can only use imported font weight */
}

p {
    line-height: 1rem;
}

/* for color use rgb to hex from Google
use rgba for opacity */

p {
    color: #c90641;
}

#overlay {
    position:absolute;
    background-color: rgba(201, 6, 65, 0.448);
    width: 80%;
    height: 200px;

}
