.container {
    display: flex; /* displays boxes side by side */
}

.box-1, .box-2 {
    flex: 50%;
    border: solid 2px;
    margin: 10px;
    text-align: center;

}

.box-1 {
    border-color: green;
    color: green
}

.box-2 {
    border-color: blue;
    color:blue
}